{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
    <h1>Day Three!</h1>
    <p>Today has been busy, I didn't have much time to work on this so I couldn't make something visably awesome.</p>
    <p>I added a new backend model system that I will use to model days and events, this should allow me to make interactive events.</p>
    <p>Anyways, today you have a task!</p>
    <p>Take 50 pictures and compule them into a google photos album then send them to me before tomorrow your time.</p>
</div>
{% endblock %}
