{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
    <h1>Day six!</h1>
    <p>So you've officially graduated.</p>
    <p>You are now officially smarter than me!</p>
    <p>I often try to use my intelligence to defend my psyche</p>
    <p>I sit behind this wall in my mind and pretend that there is nothing else to life, that being smart will get me all the way</p>
    <p>You aren't like that.</p>
    <p>Yes, of course you're smart, but you're so much more than just that.</p>
    <p>You're observant: You notice immediately when people need help or extra love.</p>
    <p>You're generous: When you notice that someone needs you, you put down everything in order to help them.</p>
    <p>You're committed: You don't lay down when things get hard, you stay up and work 40 hours straight to meet the deadline or the requirement.</p>
    <p>You're fun loving: You aren't afraid to sing along with the music or get up and dance while everyone else is sitting down.</p>
    <p>You're fair: You want to always do your part and you expect others to do theirs as well.</p>
    <p>You're sweet: You write cute poems and draw beautiful pictures.</p>
    <p>You're precise: You fold everything perfectly and keep your bills organized at all times in your wallet.</p>
    <p>You're understanding: You know when I've had a long day or a hard week and dont hold that against me.</p>
    <p>You're courageous: You told you parents how you feel, even thought you knew they wouldn't approve.</p>
    <p>You're brilliant: In so many more ways than I can describe, and I'm proud of you.</p>
</div>
{% endblock %}
