{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%  static "cal.css" %}">
    <title>NinVent</title>
</head>
<body>

	<div class="container noselect">

		<div class="calendar">

			<header>

				<h2>Nalini Advent Calendar</h2>
                <h3>{{ month_name }}</h3>
                <h4>{{ quote }} ~ {{ author }}</h4>

			</header>
			
			<table>
			
				<thead>
					
					<tr>
						
						<td>Mo</td>
						<td>Tu</td>
						<td>We</td>
						<td>Th</td>
						<td>Fr</td>
						<td>Sa</td>
						<td>Su</td>

					</tr>

				</thead>

				<tbody>
					{%  for weeks in month %}
					<tr>
                        {%  for week_day in weeks %}
                            <td id="{{ week_day.year }}-{{ week_day.month }}-{{ week_day.day }}" class="day-class {% if week_day.day == day %}current-day {% elif week_day.month != month_number%}prev-month{% else %}{% endif %}">{{ week_day.day }}</td>
					    {% endfor %}
					</tr>
                    {% endfor %}
				</tbody>

			</table>

		</div> <!-- end calendar -->

	</div> <!-- end container -->

</body>
<!-- Latest compiled and minified CSS -->
<script src="{% static "cal.js" %}"></script>
</html>
